@model App.MVC.ViewModels.BeaconSensorVM

<div id="beacon-info">
    <p><b>Beacon ID:</b> @Model.SensorId</p>
    <p><b>Status :</b> @Model.Status</p>
    <p><b>X (Height) :</b> @Model.Xheight cm</p>
    <p><b>Y (Width) :</b> @Model.Ywidth cm</p>
    <p><b>Description :</b> @Model.Description</p>
</div>