@model App.MVC.ViewModels.DoorInfoVM

<div id="door-info">
    <p><b>Id:</b> @Model.Idx</p>
    <p><b>Name:</b> @Model.Name</p>
    <p><b>Description:</b> @Model.Description</p>
    @*<p><b>IP Address:</b> @Model.IpAddress</p>
    <p><b>Port:</b> @Model.Port</p>
    <p><b>Channel:</b> @Model.Channel</p>
    <p><b>Channel Sensor Opened:</b> @Model.Idx</p>
    <p><b>Status Coil:</b> @Model.StatusCoil</p>*@
    <p><b>Door Status:</b> @Model.DoorStatus</p>
</div>