@model App.MVC.ViewModels.SensorDataVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/floortwo.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/floortwo.js"></script>
<section>
    <div id="overlay">
        <div id="text"> Loading...</div>
    </div>
    <h4 class="text-center"> Web based visualization for floor 2 <span id="test"></span></h4>
    <div id="graph" class="graph">
        @foreach (var item in Model.BeaconSensor!)
        {
            <div id="@Html.Raw($"beacon-{item.Id}")" class="material-icons beacon-sensor" style="transform:translate(@(item.Xaxis)px,@(item.Yaxis)px)"
                 data-beaconid="@Html.Raw(item.Id)"
                 data-bs-toggle="modal"
                 data-bs-target="#info-modal"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="@item.SensorId">
                star
            </div>
        }
        @foreach (var item in Model.StationarySensor!)
        {
            var roomNum = item.RoomNo;
            var style = $"transform:translate({item.MarginLeft}px,{item.MarginTop}px);";
            var title = $"{item.Value}\n{item.Unit}";
            if (item.IsAbove == true)
            {
                <div id="@Html.Raw($"quasi-{roomNum}")" class="material-icons quasi-sensor aboveTooltip" style=@style
                     data-room="@roomNum"
                     data-quasiid="@Html.Raw(item.IdSensor)"
                     data-bs-toggle="modal"
                     data-bs-target="#info-modal"
                     data-container="body"
                     data-html="true"
                     title='@title'>
                    quasi
                </div>
            }
            else
            {
                <div id="@Html.Raw($"quasi-{roomNum}")" class="material-icons quasi-sensor belowTooltip" style=@style
                     data-quasiid="@Html.Raw(item.IdSensor)"
                     data-room="@roomNum"
                     data-bs-toggle="modal"
                     data-bs-target="#info-modal"
                     data-container="body"
                     data-html="true"
                     title="@title">
                    quasi
                </div>
            }
        }
        <div id="door-1" class="door-sensor material-icons" style="transform:translate(933px,287px)" data-doorid="1" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-2" class="door-sensor material-icons" style="transform:translate(1073px,273px)" data-doorid="2" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-3" class="door-sensor material-icons" style="transform:translate(678px,296px)" data-doorid="3" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-4" class="door-sensor material-icons" style="transform:translate(669px,223px)" data-doorid="4" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-5" class="door-sensor material-icons" style="transform:translate(615px,287px)" data-doorid="5" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-6" class="door-sensor material-icons" style="transform:translate(370px,167px)" data-doorid="6" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div id="door-7" class="door-sensor material-icons" style="transform:translate(536px,279px)" data-doorid="7" data-bs-toggle="modal" data-bs-target="#info-modal" data-toggle="tooltip" data-placement="top" title="Opened">meeting_room</div>
        <div class="row">
            <div class="col-lg-10">
                <div class=""></div>
                <div class="room-container">
                    <div class="room" style="transform: rotate(15deg); margin-bottom: 4px;">
                        <div class="room-bar"></div>
                        <div class="door-down-faced"></div>
                        <div class="door-name"><p>201 <br />Office</p></div>
                    </div>
                    <div class="room" style="transform: rotate(14deg); margin-bottom: -18px; margin-left: -8px;">
                        <div class="room-bar"></div>
                        <div class="door-down-faced"></div>
                        <div class="door-name"><p>203 <br />Office</p></div>

                    </div>
                    <div class="room" style="transform: rotate(14deg); margin-bottom: -40px; margin-left: -8px;">
                        <div class="room-bar"></div>
                        <div class="door-down-faced"></div>
                        <div class="door-name"><p>205 <br />Office</p></div>
                    </div>
                    <div class="room remove-border-right" style="width: 280px;transform: rotate(11deg);margin-bottom: -77px;margin-left: -9px;">
                        <div class="room-bar"></div>
                        <div class="door-down-faced door-left-end"></div>
                        <div class="door-down-faced door-right-end"></div>
                        <div class="door-name"><p>207 <br />Practical Training</p></div>
                    </div>
                    <div class="room remove-border-left" style="width:240px;display:none">
                        <div class="room-bar"></div>
                        <div class="door-down-faced" style="left: 40%;"></div>
                    </div>
                    <div class="cross-room crossed" style="transform: rotate(10deg); margin-bottom: -106px; margin-left: -6px;">
                        <div class="room-bar room-bar-left"></div>
                    </div>
                    <div class="room room-big" style="width: 208px !important; transform: rotate(8deg); margin-bottom: -123px; margin-left: -6px; ">
                        <div class="room-bar"></div>
                        <div class="door-down-faced door-left-end"></div>
                        <div class="door-name"><p>211 <br />Automated Sample Preparation</p></div>
                    </div>
                    <div class="cross-room crossed" style="transform: rotate(7deg); margin-bottom: -139px; margin-left: -7px;">
                        <div class="room-bar room-bar-left"></div>
                    </div>
                    <div class="room" style="transform: rotate(6deg); margin-bottom: -154px; margin-left: -4px; width: 251px;">
                        <div class="room-bar"></div>
                        <div class="door-down-faced door-left-end"></div>
                        <div class="door-down-faced door-right-end"></div>
                        <div class="door-name"><p>212 <br />Manual Sample Preparation</p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="material-icons sensor-door" style="margin-left:80px">meeting_room</div>
                <div class="material-icons sensor-door" style="margin-left:80px">sensor_door</div>
                <div class="material-icons sensor-beacon" style="margin-left:80px">star</div>
                <div class="sensor-quasi mt-2" style="margin-left:85px"></div>
            </div>
            <div class="col-lg-1 text-left" style="font-size:11px">
                <div class="mt-1">Door Opened</div>
                <div class="mt-3">Door Closed</div>
                <div class="mt-2">Beacons</div>
                <div class="mt-2">Stationary</div>
            </div>
        </div>
        <div class="bottom-bar-left"></div>
        <div class="bottom-bar-right" style="height: 66px;top: 401px;margin-left: 1125px;margin-top: 5px;transform: rotate(4deg);"></div>
        <div class="row">
            <div class="col-lg-10">
                <div class="room-container" style="margin-top:70px">
                    <div class="room" style="margin-left: -50px !important; transform: rotate(15deg);">
                        <div class="room-bar room-bar-bottom"></div>
                        <div class="door-down-faced door-top-faced"></div>
                        <div class="door-name"><p>202 <br />Office</p></div>
                    </div>
                    <div class="room" style="margin-bottom: -22px; transform: rotate(14deg); margin-left: -8px;">
                        <div class="room-bar room-bar-bottom"></div>
                        <div class="door-down-faced door-top-faced"></div>
                        <div class="door-name"><p>204 <br />Office</p></div>
                    </div>
                    <div class="room" style="margin-bottom: -42px; transform: rotate(13deg); margin-left: -7px;">
                        <div class="room-bar room-bar-bottom"></div>
                        <div class="door-down-faced door-top-faced"></div>
                        <div class="door-name"><p>206 <br />Office</p></div>
                    </div>
                    <div class="room" style="width: 200px; margin-bottom: -72px; transform: rotate(12deg); margin-left: -8px;">
                        <div class="room-bar room-bar-bottom"></div>
                        <div class="door-down-faced door-top-faced door-left-end"></div>
                        <div class="door-down-faced door-top-faced door-right-end"></div>
                        <div class="door-name"><p>208 <br /><span style="font-size:10px"> Electromechanical Laboratory</span></p></div>
                    </div>
                    <div class="room" style="margin-bottom: -101px; transform: rotate(11deg); margin-left: -7px;">
                        <div class="room-bar room-bar-bottom" style="transform: rotate(-3deg);margin-bottom: 2px;"></div>
                        <div class="door-down-faced door-top-faced"></div>
                        <div class="door-name"><p>209 <br /><span style="font-size:10px">Elemental Analysis</span></p></div>
                    </div>
                    <div class="cross-room crossed" style="width: 20px; margin-bottom: -111px; transform: rotate(11deg); margin-left: -6px;"></div>
                    <div class="room room-ic" style="margin-bottom: -120px; transform: rotate(10deg); border: 3px solid; margin-left: -7px;">
                        <div class="inner-ic">
                            <div class="inner-ic inner-ic2">
                                <i id="room-bootom-5"></i>
                            </div>
                        </div>
                        <div style="width: 100%;height: 60%;position: relative;top: 30%;">
                            <div class="outer-ic">
                            </div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                            <div style="width: 97%;height: 6px;position: relative;border: 1px solid;"></div>
                        </div>
                    </div>
                    <div class="room" style="width: 162px; height: 100px; margin-top: 139px; position: absolute; transform: rotate(8deg); margin-left: -7px;">
                        <div style="display: flex; width: 100%; height: 100%;">
                            <div style="width: 25%; height: 100%;">
                                <div style="width: 100%; height: 50%; position: relative; border: 1px solid;">
                                    <div class="ic-circle" style="top: 27%;"></div>
                                    <div class="ic-circle" style="top: 60%;"></div>
                                    <div style="width:25px;height:100%;">
                                        <div class="door-down-faced ic-door-down-faced door-down-faced-right door-right-end"></div>
                                        <div class="door-down-faced ic-door-top-faced door-top-faced ic_door-top-faced-right"></div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 50%; position: relative; border-right: 1px solid;">
                                </div>
                            </div>
                            <div style="width: 25%; height: 100%; border-right: 1px solid; border-top: 1px solid;">
                                <div style="width: 100%; height: 50%;  position: relative;">
                                    <div class="door-down-faced ic-door-down-faced door-down-faced-right door-right-end" style="right:17%"></div>
                                </div>
                                <div style="width: 100%; height: 50%; position: relative; border-top: 1px solid;">
                                    <div style="width: 100%; height: 50%; border-bottom: 1px solid; position: relative;">
                                        <div style="width: 25px; height: 10px; border: 1px solid; position: absolute; bottom: 14%; right: 0; border-radius: 14px; "></div>
                                    </div>
                                    <div style="width: 100%; height: 50%; position: relative;">
                                        <div style="width: 25px; height: 10px; border: 1px solid; position: absolute; top: 16%; right: 0; border-radius: 14px; "></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 25%; height: 100%; border-top: 1px solid;">
                                <div style="width: 100%; height: 50%; position: relative; border-bottom: 1px solid;">
                                    <div class="door-down-faced ic-door-down-faced door-right-end" style="left: 2px !important;"></div>
                                    <div class="door-down-faced ic-door-top-faced door-top-faced" style="left: 2px !important; bottom: -3px; width: 32px; height: 32px; "></div>
                                    <div style="width: 100%; height: 100%;border-right: 1px solid;">
                                        <div style="width: 25px; height: 100%; border: 1px solid; height: 100%; border: 1px solid; position: absolute; right: -3px; border-right: 0px; ">
                                            <div class="ic-circle" style="top: 27%;"></div>
                                            <div class="ic-circle" style="top: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 50%;border: 1px solid;border-left: 0px; border-bottom: 0px;">
                                    <div style="width:100%;height:40%"></div>
                                    <div style="width: 100%; height: 60%; display: flex; border-top: 1px solid;position:relative">
                                        <div style="width:50%;border-right:1px solid;position:relative">
                                            <div style="width: 10px; height: 25px; border: 1px solid; position: absolute; bottom: 0%; right: 25%; border-radius: 14px; "></div>
                                        </div>
                                        <div style="width: 50%;position:relative">
                                            <div style="width: 10px; height: 25px; border: 1px solid; position: absolute; bottom: 0%; right: 25%; border-radius: 14px; "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 25%; height: 100%">
                                <div style="width:100%;height:20%"></div>
                                <div style="width: 100%; height: 100%;">
                                    <div style="width:100%;height:80%;display:flex;position:relative">
                                        <div style=" position: absolute; width: 75%; height: 70%; right: 0; top: 10%; background: #fff; z-index: 99; border: 1px solid;"></div>
                                        <div style="width: 80%; height: 50%; border-right: 1px solid; border-top: 1px solid;"></div>
                                        <div style="width: 20%; height: 80%; border-bottom: 1px solid; position: absolute; right: 0; z-index: 999; background: #fff;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cross-room crossed" style="transform: rotate(8deg);height: 134px;margin-bottom: -152px;margin-left: 156px;">
                        <div class="room-bar room-bar-bottom" style="transform: rotate(-4deg);"></div>
                        <div class="door-down-faced door-top-faced" style="transform: rotate(267deg); margin-left:55px; margin-top: -17px;"></div>
                    </div>
                    <div class="room" style="transform: rotate(6deg); margin-bottom: -157px; margin-left: -5px; width: 70px; height: 133px; border-right: 0 !important;">
                        <div class="room-bar room-bar-bottom" style="transform: rotate(-4deg); margin-bottom: 2px;"></div>
                    </div>
                    <div class="room" style="width: 174px;transform: rotate(4deg);height: 108px;margin-bottom: -167px;margin-left: -5px;border-top: none;border-left: 0 !important;">
                        <div class="door-name"><p>213 <br />Mobile Robotics</p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>